<div class="page-create">
<div class="box-register">
  
      <div class=""><img src="/img/imagem.png" alt=""></div>
  
      <div class="cadastro">
  
          <h1>Cadastre-se </h1>
  
  
          <form action="/user/create" method="post">
              <div class="form-control">
                 
                  <div class="" style="display: flex;">
                    <img src="/assets/person.svg" alt="">
                    <input type="text" name="name" placeholder="Insira seu Nome" >
                  </div>
              </div>
              <div class="form-control">
                  <div class="" style="display: flex;"><img src="/assets/envelope.svg" alt="">
                  <input type="email" name="email" placeholder="Insira seu Email" ></div>
                  
              </div>
              <div class="form-control">
                  <div class="" style="display: flex;">  <img src="/assets/telephone.svg" alt="">
                  <input type="text" name="tel" placeholder="Insira seu telefone"></div>
                
              </div>
              <div class="form-control">
                 <div class="" style="display: flex;"><img src="/assets/eye-slash.svg" alt="">
                  <input type="password" name="password" placeholder="Insira sua senha"  ></div>
                  
              </div>
              <div class="form-control">
                  <div class="" style="display: flex;">
                  <img src="/assets/eye-slash.svg" alt="">
                  <input type="password" name="confirmpassword" placeholder="Confirme sua senha" />
                  </div>
              </div>
              <div class="form-control">
                  <input type="submit" value="Cadastrar">
              </div>
              <p class="conn">Já possui conta?<a href="/user/login"> conecte-se! </a></p>
          </form>
      </div>
</div>


</div>





 