<div class="page-login">

    <div class="box-register">
        <img src="/img/imagem.png" alt="">
        <div class="login">
            <h1>Login </h1>
        
            <form action="/user/login" method="post">
                <div class="form-control">
        
                   <div class="" style="display: flex;"><img src="/assets/envelope.svg" alt="">
                      <input type="email" name="email" placeholder="Insira seu Email" ></div>
                </div>
                <div class="form-control">
        
                   <div class="" style="display: flex;"><img src="/assets/eye-slash.svg" alt="">
                      <input type="password" name="password" placeholder="Insira sua senha"  ></div>
                </div>
                <div class="form-control">
                    <input type="submit" value="Entrar">
                </div>
        
                <p class="conn">Não possui conta?<a href="/user/create">Clique aqui!</a></p>
        
        
            </form>
        </div>
    </div>
</div>