<div class="mapa">
  <div id="map_none">

    <img class="img-map" src="/img/mapa.png" alt="" />
  </div>
  <div id="mapa_icon">
    <img src="/img/Vector.png" alt="" />
    <input id="map_btn" type="button" value="USAR LOCALIZAÇÃO ATUAL" />
  </div>

</div>

<div id="conteudo_map">
  <div class="caixa-mapid">
    <div id="mapid"></div>
  </div>

  <div class="table-locations">
    <h3>Pontos de coleta próximos a sua localização: </h3>

    <table>
      <tr>
        <th>Posto de Coleta</th>
        <th>Endereço</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
      </tr>

      <tr>
        <td>KALUNGA - AL-MAC-S.Patio Maceio</td>
        <td>AVENIDA MENINO MARCELO, 3800</td>
        <td>CIDADE UNIVERSITÁRIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>DROGARIA - MC FELIZ DESERTO 1</td>
        <td>AVENIDA ANTÔNIO LISBOA de ARMORIM, S/N, .</td>
        <td>ANTARES</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>MULTICOISAS LOJA 242</td>
        <td>MENINO MARCELO, 3800, LOJA 167/168</td>
        <td>CIDADE UNIVERSITÁRIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>ASSAÍ 76</td>
        <td>AVENIDA MENINO MARCELO, S/N</td>
        <td>SERRARIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>DROGASIL - MC CAMPO GRANDE 1 (RODRIGUES SAMPAIO)</td>
        <td>AV. MENINO MARCELO, 10440, 0</td>
        <td>SERRARIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      
      <tr>
        <td>KALUNGA - AL-MAC-S.Patio Maceio</td>
        <td>AVENIDA MENINO MARCELO, 3800</td>
        <td>CIDADE UNIVERSITÁRIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>DROGARIA - MC FELIZ DESERTO 1</td>
        <td>AVENIDA ANTÔNIO LISBOA de ARMORIM, S/N, .</td>
        <td>ANTARES</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>MULTICOISAS LOJA 242</td>
        <td>MENINO MARCELO, 3800, LOJA 167/168</td>
        <td>CIDADE UNIVERSITÁRIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>ASSAÍ 76</td>
        <td>AVENIDA MENINO MARCELO, S/N</td>
        <td>SERRARIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      <tr>
        <td>DROGASIL - MC CAMPO GRANDE 1 (RODRIGUES SAMPAIO)</td>
        <td>AV. MENINO MARCELO, 10440, 0</td>
        <td>SERRARIA</td>
        <td>MACEIÓ</td>
        <td>AL</td>
      </tr>
      
     
    </table>
  </div>

</div>



<script src="/js/map.js"></script>