<div class="partner">
    <h2>
      PARCEIROS QUE AUXILIAM A EDMS <br>
        A IMPLEMENTAR A LOGÍSTICA REVERSA</h2>

        <section class="slider">
    <input name='slide' type="radio" checked>
    <input name='slide' type="radio" >
    <input name='slide' type="radio">
    <input name='slide' type="radio">
    <input name='slide' type="radio">
    <input name='slide' type="radio">

    <div class="slider-content">
        <div class="slider-item" >
            <img src="/img/logo-drogasil-2048.png" alt="">
            <img src="/img/logo-assai-16.png" alt="">
            <img src="/img/multicoisas.png" alt="">
            <img src="https://logospng.org/download/kalunga/logo-kalunga-4096.png" alt="">
             <img src="/assets/leroy-merlin-logo-1-1-1536x924.png" alt="">
             <img src="./assets/casas-bahia-logo-0.png" alt="">
        </div>
        <div class="slider-item">
            <img src="/img/logo-assai-16.png" alt="">
          <img src="/img/logo-drogasil-2048.png" alt="">
             <img src="./assets/casas-bahia-logo-0.png" alt="">
             <img src="/assets/leroy-merlin-logo-1-1-1536x924.png" alt="">
            <img src="/img/multicoisas.png" alt="">
            <img src="https://logospng.org/download/kalunga/logo-kalunga-4096.png" alt="">
             
            
        </div>
        <div class="slider-item">
            <img src="/img/logo-drogasil-2048.png" alt="">
            <img src="/img/logo-assai-16.png" alt="">
            <img src="/img/multicoisas.png" alt="">
            <img src="https://logospng.org/download/kalunga/logo-kalunga-4096.png" alt="">
             <img src="/assets/leroy-merlin-logo-1-1-1536x924.png" alt="">
             <img src="./assets/casas-bahia-logo-0.png" alt="">
        </div>
        <div class="slider-item">
            <img src="/img/logo-drogasil-2048.png" alt="">
            <img src="/img/logo-assai-16.png" alt="">
            <img src="/img/multicoisas.png" alt="">
            <img src="https://logospng.org/download/kalunga/logo-kalunga-4096.png" alt="">
             <img src="/assets/leroy-merlin-logo-1-1-1536x924.png" alt="">
             <img src="./assets/casas-bahia-logo-0.png" alt="">
        </div>
        <div class="slider-item">
            <img src="/img/logo-drogasil-2048.png" alt="">
            <img src="/img/logo-assai-16.png" alt="">
            <img src="/img/multicoisas.png" alt="">
            <img src="https://logospng.org/download/kalunga/logo-kalunga-4096.png" alt="">
             <img src="/assets/leroy-merlin-logo-1-1-1536x924.png" alt="">
             <img src="./assets/casas-bahia-logo-0.png" alt="">
        </div>
        <div class="slider-item">
            <img src="/img/logo-drogasil-2048.png" alt="">
            <img src="/img/logo-assai-16.png" alt="">
            <img src="/img/multicoisas.png" alt="">
            <img src="https://logospng.org/download/kalunga/logo-kalunga-4096.png" alt="">
             <img src="/assets/leroy-merlin-logo-1-1-1536x924.png" alt="">
             <img src="./assets/casas-bahia-logo-0.png" alt="">
        </div>
    </div>
</section>

</div>
