 <footer id="contato">
    <section class="text-footer">
      <div class="boxtext-footer">
        <p>EDMS</p>
        <a href="https://e-clic.net/blog/saiba-o-que-e-um-edms/" target="_blank">Sobre nós</a>
        <a href="/to-search">Pontos de coleta</a>
      </div>


      <div class="boxtext-footer">
        <a href="/company-create">
          <p>Seja um ponto de coleta voluntário</p>
          <p>Pilhas/Eletrônicos</p>
        </a>
      </div>


      <div class="boxtext-footer">
        <p>SIGA A EDMS NAS REDES SOCIAIS</p>
        <div class="logo">
          <a href="#"><img src="/assets/80784_linkedin-logo-white-png.png" alt=""></a>
          <a href="#"><img src="/assets/GitHub-Logo.png" alt=""></a>
          <a href="#"><img  src="/assets/instagram-png-instagram-icon-1600.png" alt=""></a>
        </div>
      </div>
    </section>


    <form action="" class="form-footer">
      <p>Fale Conosco:</p>
      <input class="footer-input" type="text" placeholder="Nome:">
      <input class="footer-input" type="email" placeholder="E-mail:">
      <input class="footer-input" type="tel" placeholder="Telefone:">
      <input class="footer-input" type="text" placeholder="Tipo Selecionar...">
      <input class="footer-input-mensagem" type="text" placeholder="Mensagem:">
      <input class="footer-input-button" type="submit" value="Enviar">
      <p>(82) 9999-6666</p>
      <p>

        contato@edms.org.br
      </p>
    </form>


  

  </footer>