 
 <nav id="navbar">
    <img class="img1" src="/img/pngaaa 4.png" alt="">
    <ul>
      <li class="logo-company">
        <a href="/">
          <p class="company">EDMS</p>
          <p>SOLUÇÕES EM SOFTWARE</p>
        </a>
      </li>

      <li>
        <a href="#contato">
          <p class="contato">CONTATO</p>
        </a>
      </li>


      <li>
        <a href="/to-search">
          <p>PONTOS DE COLETA</p>
        </a>
      </li>

      
      <li>
        <a href="/user/points" id="btn1">
           <i> <img src="/assets/loc.svg" alt=""> </i>
          <p>PONTOS</p>
        </a>
      </li>

      <li>
        <a href="/user/logout" id="btn1">
          <p>SAIR</p>
        </a>
      </li>request.flash("message", "Usuário autenticado com sucesso!");
    </ul>
    <img class="img2" src="/img/pngaaa 3.png" alt="">
  </nav>
