<style>
     a{
      text-decoration: none;
    }
</style>

<nav id="navbar">
  <img class="img1" src="/img/pngaaa 4.png" alt="">
  <ul>
    <li class="logo-company">
      <a href="/">
        <p class="company">EDMS</p>
        <p>SOLUÇÕES EM SOFTWARE</p>
      </a>
    </li>

    <li>
      <a href="#contato">
        <p class="contato">CONTATO</p>
      </a>
    </li>


    <li>
      <a href="/to-search">
        <p>PONTOS DE COLETA</p>
      </a>
    </li>

    
    <li>
      <a href="/user/points" id="btn1">
        <i> <img src="/assets/loc.svg" alt=""> </i>
        <p>PONTOS</p>
      </a>
    </li>
    <li>
      <a href="/partners">
        
        <p>NOSSOS PARCEIROS</p>
      </a>
    </li>

    <li>
      <a href="/user/create" id="btn1">
        <p></p>
        <div id="mainnav">
          <ul class="wrapper-menu">
            <li class="wrapper-dropdown">
              <a href="#" class="register">REGISTRE-SE JÁ</a>
              <ul class="dropdown">
                <li><a href="/user/create">Pessoa Física</a></li>
                <li><a href="/company-create">Empresas Parceiras</a></li>
               
              </ul>
            </li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
  <img class="img2" src="/img/pngaaa 3.png" alt="">
</nav>

{{!-- {{> create}} --}}